/* Page style */
body {
    font-family: 'Times New Roman', Times, serif;
}

/* Big box behind the solver */
.Bigbox {
    background-color: lightgray;
    width: 700px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
}

/* Title */
h1 {
    color: rgb(35, 123, 239);
}

/* Sets the rows for the number */
.number-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Inputs */
input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid gray;
    width: 115px;
}

/* Button */
button {
    background-color: rgb(35, 123, 239);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
}
